*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;

}



h1,
h2,
h3,
h4{ 
	font-family: $mainFont;
}

h1{
	font-size: $textXl;
	padding: 18px;
}

h2{
	font-size: $textLg;
	padding: 8px;
}


p{
	font-family: $secondaryFont;
	font-size: $textMd;
	padding: 8px;
}

fieldset{
	font-family: $mainFont;
		font-size: $textMd;
		margin-left: 10px;
}

iframe{
	padding: 8px;

}

body {
	background-image: url(../imagen/fondo.jpg);
	background-attachment: fixed;
	background-size: cover;
}

.imagenhome{
	text-align: center;
	}

.descripcion{
	font-size: $textMd;
	color: $mainColor;
	font-family: $mainFont;
	font-weight: bold;
	text-align: center;

}

.linear-gradient{
	background: linear-gradient(to top,#CAE3EB,#B9DAEE);

}


.mtop{
	margin-top: 30px;
}

.respuesta {
	font-size: 1.1em;
	margin-left: 10px;
	margin-bottom: 35px;
}

.imagenfluida{
	max-width: 100%;
	height: auto;

}

.contenedorimagen{
	display: flex;
	justify-content: center;
	align-items: center;
}

//nesting

.rubro{
	font-size: $textLg;
	color: $mainColor;
	font-family: $mainFont;
	font-weight: bold;	

	p{
	font-size: $textSm;
	color: $black;
	font-family: $mainFont
	}
}