*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;

}



h1,
h2,
h3,
h4{ 
	font-family: $mainFont;
}

h1{
	font-size: $textXl;
	padding: 18px;
}

h2{
	font-size: $textLg;
	padding: 8px;
}


p{
	font-family: $mainFont;
	font-size: $textMd;
	padding: 8px;
}

fieldset{
	font-family: $mainFont;
		font-size: $textMd;
		margin-left: 10px;
}

iframe{
	padding: 8px;

}



.imagenhome{
	text-align: center;
	}

.descripcion{
	font-size: $textMd;
	color: $mainColor;
	font-family: $mainFont;
	font-weight: bold;
	text-align: center;

}

.linear-gradient{
	background: linear-gradient(to top,#CAE3EB,#B9DAEE);

}


.mtop{
	margin-top: 30px;
}


//nesting

.rubro{
	font-size: $textLg;
	color: $mainColor;
	font-family: $mainFont;
	font-weight: bold;	

	p{
	font-size: $textSm;
	color: $black;
	font-family: $mainFont
	}
}